
@{
    @ViewBag.Title;
}

<h2>Student</h2>

<div class="form-group">
    <div class="row">
        <div class="col-md-offset-2 col-md-4">
            <button class="btn btn-success btn-lg" type="submit" onclick="location.href='@Url.Action("ChangePassword", "ChangePassword")'">Change Password</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary btn-lg" type="submit" onclick="location.href='@Url.Action("ChangePassword", "ChangePassword")'">Academic Code of Conduct</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-2 col-md-4">
        <button class="btn btn-success btn-lg" type="submit" onclick="location.href='@Url.Action("ChangePassword", "ChangePassword")'">Questionarrie</button>
    </div>
    <div class="col-md-4">
        <button class="btn btn-primary btn-lg" type="submit" onclick="location.href='@Url.Action("ChangePassword", "ChangePassword")'">View Student Details</button>
    </div>
</div>