@model IEnumerable<MBASite.Models.UCMModerator>

@{
    ViewBag.Title = "UpdateAdvisor";
}

<h2>UpdateAdvisor</h2>

<p>
    @Html.ActionLink("Create New", "AddAdvisor", "AddAdvisor")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <th>
            @Html.DisplayFor(modelItem => item.Id)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.ActionLink("Edit", "UpdateAdvisorData", new { id = item.Id }) ------ 
            @Html.ActionLink("Create/Reset Password", "CreatePassword", new { id = item.Id})
        </td>
    </tr>
}

</table>
