@model MBASite.ViewModels.QuestionnaireAnswers

@{
    ViewBag.Title = "FillQuestionnaire";
}

<h2>FillQuestionnaire</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>QuestionnaireAnswers</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.howManyClassesDoYouPlanToTakeEachFallSpringSemester, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.howManyClassesDoYouPlanToTakeEachFallSpringSemester, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.howManyClassesDoYouPlanToTakeEachFallSpringSemester, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.howManyClassesToYouPlanToTakeInTheSummer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.howManyClassesToYouPlanToTakeInTheSummer, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.howManyClassesToYouPlanToTakeInTheSummer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.doYouPlanToWorkWhilePursuingYourMba, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.doYouPlanToWorkWhilePursuingYourMba)
                    @Html.ValidationMessageFor(model => model.doYouPlanToWorkWhilePursuingYourMba, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ifSoHowManyHoursAWeekDoYouPlanToWork, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ifSoHowManyHoursAWeekDoYouPlanToWork, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ifSoHowManyHoursAWeekDoYouPlanToWork, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ifCurrentlyEmployed, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ifCurrentlyEmployed)
                    @Html.ValidationMessageFor(model => model.ifCurrentlyEmployed, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.forWhomDoYouWork, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.forWhomDoYouWork, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.forWhomDoYouWork, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.whatIsYourPosition, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.whatIsYourPosition, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.whatIsYourPosition, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.howFarIsYourResidenceFromUcmSWarrensburgCampus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.howFarIsYourResidenceFromUcmSWarrensburgCampus, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.howFarIsYourResidenceFromUcmSWarrensburgCampus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.howFarIsYourWorkLocationFromUcmSWarresnburgCampus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.howFarIsYourWorkLocationFromUcmSWarresnburgCampus, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.howFarIsYourWorkLocationFromUcmSWarresnburgCampus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.doYouHaveChildrenForWhomYouAreResponsible, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.doYouHaveChildrenForWhomYouAreResponsible)
                    @Html.ValidationMessageFor(model => model.doYouHaveChildrenForWhomYouAreResponsible, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.areYouASingleParent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.areYouASingleParent)
                    @Html.ValidationMessageFor(model => model.areYouASingleParent, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.willYouHaveDifficultySchedulingMorningClasses, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.willYouHaveDifficultySchedulingMorningClasses)
                    @Html.ValidationMessageFor(model => model.willYouHaveDifficultySchedulingMorningClasses, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.willYouHaveDifficultySchedulingAfternoonClasses, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.willYouHaveDifficultySchedulingAfternoonClasses)
                    @Html.ValidationMessageFor(model => model.willYouHaveDifficultySchedulingAfternoonClasses, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.willYouHaveDifficultySchedulingNightClasses, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.willYouHaveDifficultySchedulingNightClasses)
                    @Html.ValidationMessageFor(model => model.willYouHaveDifficultySchedulingNightClasses, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.willYouHaveDifficultySchedulingWeekendClasses, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.willYouHaveDifficultySchedulingWeekendClasses)
                    @Html.ValidationMessageFor(model => model.willYouHaveDifficultySchedulingWeekendClasses, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.whatIsYourMotivationInPursingAnMba, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.whatIsYourMotivationInPursingAnMba, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.whatIsYourMotivationInPursingAnMba, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.whatTypeOfPositionDoYouPlanToSeekAfterObtainingYourMba, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.whatTypeOfPositionDoYouPlanToSeekAfterObtainingYourMba, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.whatTypeOfPositionDoYouPlanToSeekAfterObtainingYourMba, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.awareOfTheProgram, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.awareOfTheProgram, new SelectList(Model.howDidYouBecomeAwareOfTheMbaProgramAtUcm), " ", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.awareOfTheProgram, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.attractsToProgram, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.attractsToProgram, new SelectList(Model.whatAttractedYouToTheMbaProgramAtUcm), " ", new { htmlAttributes = new { @class = "form-control" } })
                @Html.EditorFor(model => model.attractsToProgram, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.attractsToProgram, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
