@model MBASite.ViewModels.LoginDetails

@{
    ViewBag.Title = "LoginPage";
}

<h4>Login Page</h4>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="row">
            <div class="input-field col s6">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
               
                    <div class="row">
                    </div>
                    <div class="row">
                        @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                     </div>
                    <div class="validate row">
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control",placeholder = "700#"  } })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        
        <div class="row">
            <div class="input-field col s6 ">
                <div class="form-group">
                    <div class="row">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>

                    <div class="row">
                    </div>
                        <div class="validate row">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6 ">
                <div class="form-group">
                    <div class="col-md-10">
                        <button class="btn waves-effect waves-light green" type="submit">Login<i class="material-icons right">send</i></button>
                    </div>
                </div>
            </div>
        </div>
     </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

          
