<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button></div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav col-md-12">
                    <li> <a href="#" class="navbar-brand"><img src="~/Images/university-of-central-missouri_2014-03-31_14-48-47.978.jpg" style="height:35px;width:130px;border-radius:5px" /></a>
           </li>
                    <li style="margin-top:5px">@Html.ActionLink("Home", "", "")</li>
                    <li style="margin-top:5px" >@Html.ActionLink("About Us", "", "")</li>
                    <li class="col-md-push-7" style="margin-top:5px">@if (Request.IsAuthenticated)
                    {
                        <strong>@Html.Encode(User.Identity.Name)</strong>
                        @Html.ActionLink("Log Out", "LogOff", "Login")
                    }
                    else
                    {
                        @Html.ActionLink("Login", "LoginPage", "Login")
                    }
</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
</body>
</html>